body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #ffffff;
    /* margin: 0;
    padding: 0; */
}
header {
    display: flex;
}
table {
    border-collapse: collapse;
    width: 100%;
}
tr {
    border: 0.1px solid #777777;
}
a {
    color: #ffffff;
}